*{
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: #0f0;
}
div {
    background-color: #fff;
    width: 150px;
    height: 150px;
    padding-top: 50px;
    margin-left: 50px;
    /*
    box-sizing:  border-box; 코드를 추가 안할시,
    margin 값이 너비, 높이 깂이 포함되어 있어 실제 div 요소의  크기는 변경되어 있음
    그래서 해당 코드를 추가하는 것.*/
}